<div class="col-md-12 col-xl-4 col-sm-12">

    <div class="card card-body" style="
		  height:250px;
		  overflow:scroll;
		  overflow-x:hidden;">
        {% if ok %}
            <div class="alert alert-success">
                {{ trans("task.operational") }}
                <small class="pull-right">{{ lastUpdated }}</small>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ trans("task.notoperational") }}
                <small class="pull-right">{{ lastUpdated }}</small>
            </div>
        {% endif %}
        {% if data is empty %}
            <p>No data</p>
        {% endif %}

        <ul class="list-group">
            {% for line in data %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        {{ line.name }}

                        <a data-toggle="tooltip" data-placement="bottom"
                           title="{{ line.lastping | formatted_date('d/m/y H:i:s') }}">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </p>

                    {% if line.online %}
                        <span class="badge bg-success rounded-pill">{{ line.ping }}</span>
                    {% else %}
                        <span class="badge bg-danger rounded-pill">{{ trans("offline") }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
